


<!--

THIS TEMPLATE IS THE FIRST TEMPLATE WE HAVE USED.
I DID NOT REMOVE IT IN CASE WE NEED IT AS A REFERAL.

-->



<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Intertech I-Bot Yatırım Asistanı - Sohbet</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>

<body>
  <div class="header">
    <img src="{{ url_for('static', filename='images/intertech-logo-white-text (1) copy.png') }}" alt="Intertech Logo" />
    <h1>I-Bot Yatırım Asistanı</h1>
  </div>
  <div class="content">
    <div class="messages" id="messageContainer">
    </div>
    <form id="chatForm" method="POST">
      <div class="input-area">
        <input type="text" placeholder="Yatırım Asistanına Sorun" id="userInput" required />
        <button type="submit">Gönder</button>
      </div>
    </form>
  </div>
  <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>
