.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-bar {
  margin-bottom: 20px;
}

.main-content {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Align items to the start (left) */
  position: fixed;
  /* Make the sidebar fixed */
  top: 0;
  /* Align to the top */
  left: 0;
  /* Align to the left */
  height: 100%;
  /* Full height */
  padding: 20px;
  background-color: #282c34;
  color: white;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar button {
  margin-bottom: 10px;
  /* Space between buttons */
  background-color: #61dafb;
  color: #282c34;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #21a1f1;
}

.content {
  margin-left: 200px;
  /* Adjust according to the width of the sidebar */
  padding: 20px;
  width: 100%;
}

.positions,
.market-data {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  background-color: #f2f2f2;
}

.yahoo-data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.yahoo-data-table th,
.yahoo-data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.yahoo-data-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.yahoo-data-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.yahoo-data-table tr:hover {
  background-color: #f1f1f1;
}