/* App.css */

/* App.css */
.App {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.main,
.stock {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.table-container {
  margin-top: 20px;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.chart,
.tradingview-widget {
  flex: 1;
  margin: 0 10px;
}

.chart {
  min-width: 300px;
}

.tradingview-widget {
  min-width: 300px;
  height: 500px;
}


.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  height: 100%;
  /* Tam yüksekliğe çekildi */
  box-sizing: border-box;
}




.search-bar {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

input[type="text"] {
  padding: 5px;
  margin-right: 5px;
}

button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.search {
  padding: 5px 10px;
  background-color: #5680d3;
  color: white;
  border: none;
  cursor: pointer;
}